body {
    text-align: center;
}

.contanier {
    background-color: rgb(140, 201, 130);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.box {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    width: 30vw;
    margin: 10px;
}

.overBox {
    background-color: rgb(117, 160, 100);
}

.card {
    border: 1px solid rgb(14, 102, 48);
    background-color: azure;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.overCard {
    background-color: rgb(147, 190, 147);
}

.draggingCard {
    border-color: rgb(0, 99, 25);
}
