body {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    background-color: black;
}

header {
    position: fixed;
    display: flex;
    top: 0px;
}
#clock {
    font-family: 'Noto Sans KR', sans-serif;
    color: #353535;
    position: fixed;
    top: 50px;
    width: 980px;
    text-align: right;
}

.headerVideo {
    width: 1000px;
}

.movieList {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 562.5px;
    padding-bottom: 20px;
    color: #000; /* Change text color for better visibility */
}

.List {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieItem {
    text-align: center;
}


.poster {
    width: 250px;
    height: 350px;
    margin-top: 40px;
}

.movieName {
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #777777;
}

.showTime {
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #777777;
    margin-right: 30px;
    text-align: left;

}

.poster {
    width: 250px;
    height: 350px;
}
