* {
    margin: 0 auto;
}
body {
    width: 80%;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
    border: 1px solid black;
}

.contanier {
    display: flex;
}
section { 
    border: 1px solid black;
    text-align: center;
    display: flex;
}
nav { 
    border: 1px solid black;
    display: inline;
}

footer {
    border: 1px solid black;
    position : fixed;
    bottom : 0;
}